body{
	background: url(../img/background.jpg) no-repeat #000;
	background-position: center top;
	background-size:unset;
}
.logo{
	max-width: 250px;
	margin: auto;
	margin-bottom: 10px;
}
.logo img{
	width: 100%;
}
.nav-dark > .active > a, .nav-pills > .active > a:hover {
    background-color: #000 !important;
	border-color: --bs-warning;
}